.navbar {
	background-color: #0d2770;
}
.navbar .navbar-nav .nav-item {
    font-size: 1.4em;
}
.nav-item .dropdown-menu .dropdown-item {
    font-size: 1.2em;
}
.nav-item .dropdown-menu {
    background-color: #cddbff;
}
.bio {
	display: flex;
    flex-direction: column;
    justify-content: center;
}
.picture {
	margin: 0 auto;
    width: 75%;
}
.picture img {
    width:80%;
}
.intro {
    margin: 100px 5%;
    margin-bottom: 0;
    border: 2px solid #53628b;
    font-family: 'Trebuchet MS', monospace;
    font-size: 1em;
    background-color: #88c58c;
}
.intro h1 {
    font-family: 'Trebuchet MS', monospace;
    font-size: 4em;
    background-color: #c7e2ee;
    border-bottom: 2px solid #53628b;
    padding: 2%;
    text-align: center;
}
.intro h3 {
    padding: 2%;
    font-size: 2em;
}
.about {
    margin: 100px 5%;
    margin-bottom: 0;
    border: 2px solid #53628b;
    font-family: 'Trebuchet MS', monospace;
    font-size: 1em;
    background-color: #88c58c;
}
.about h1 {
    font-family: 'Trebuchet MS', monospace;
    font-size: 5em;
    background-color: #c7e2ee;
    border-bottom: 2px solid #53628b;
    padding: 2%;
    text-align: center;
}
.about h3 {
    padding: 2%;
    font-size: 2.5em;
}
h3 a {
    color: rgb(77, 77, 77);
    font-size: 0.8em;
    transition: color 0.2s;
}
h3 a:hover {
    color: #000000;
}
@media (max-width: 1280px) {
    .intro h1 {
        font-size: 3em;
    }
    .intro h3 {
        font-size: 1.5em;
    }
    .about h1 {
        font-size: 4em;
    }
    .about h3 {
        font-size: 2em;
    }
}
@media (max-width: 815px) {
    .intro h1 {
        font-size: 2em;
    }
    .intro h3 {
        font-size: 1em;
    }
    .about h1 {
        font-size: 3em;
    }
    .about h3 {
        font-size: 1.5em;
    }
}
@media (max-width: 640px) {
    .intro h1 {
        font-size: 1.5em;
    }
    .intro h3 {
        font-size: 0.9em;
    }
    .about h1 {
        font-size: 2em;
    }
    .about h3 {
        font-size: 1em;
    }
}