body {
	background-color: #f0ffff;
}
.navbar .navbar-nav .nav-link {
	color: #002435;
	font-size: 1.2em;
}
.navbar .navbar-nav .nav-link:hover {
	color: #487796;
}
.navbar-brand {
	transition: all 0.25s;
}
.navbar-brand:hover {
	transform: rotate(-5deg);
}

h1 {
	word-spacing: 20%;
	letter-spacing: 20%;
	background-color: #daa520;
	color: #ffe4b5;
	font-family: 'Roboto Mono', monospace;
	font-size: 4em;
	padding: 25px;
	border: 2pt solid #556b2f;
	border-left: none;
	border-right: none;
}
h3,
p {
	line-height: 150%;
	background-color: #ffefd5;
	color: #556b2f;
	font-family: 'Rubik', sans-serif;
}
h3 {
	font-size: 2em;
	padding: 0 3%;
}
header {
	border-bottom: 2pt dotted #556b2f;
	background-color: #ffefd5;
	margin: 0 20px;
	text-align: center;
	border-left: 1pt solid #556b2f;
	border-right: 1pt solid #556b2f;
}
form {
	margin: 3% 5%;
	padding-top: 2%;
	text-align: center;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 1.3em;
}

select:hover {
	cursor: pointer;
}
form section {
	padding: 4%;
	border-bottom: 0.3px #002435 dotted;
}
section.use {
	font-size: 1em;
}
.submit-btn {
	border-radius: 1.2em;
	background-color: #307081;
	color: #bbe4a8;
	padding: 0.8em 1.6em;
	font-size: 1.3em;
	transition: all 0.25s;
	margin-top: 40px;
}
.submit-btn:hover {
	border-color: #0e5350;
	color: rgb(255, 255, 255);
	box-shadow: 0 0.5em 0.5em -0.4em #0e5350;
	transform: translateY(-0.25em);
	cursor: pointer;
	margin-top: 40px;
}
.email {
	text-decoration: none;
	color: #2c5e42;
}
.email a {
	color: #2c5e42;
	transition: color 0.2s;
}
.email a:hover {
	color: #233823;
}

@media (max-width: 768px) {
	h1 {
		font-size: 3em;
		background-color: #b8913d;
	}
	h3 {
		font-size: 1.5em;
		color: #886b2d;
	}
	.navbar .navbar-nav .nav-link {
		font-size: 1em;
	}
	form {
		font-size: 0.8em;
	}
}
@media (max-width: 576px) {
	h1 {
		font-size: 2em;
		background-color: #5f1d0d;
	}
	h3 {
		font-size: 1em;
		color: #5f1d0d;
	}
	.navbar .navbar-nav .nav-link {
		font-size: 0.8em;
	}
	form {
		font-size: 0.6em;
	}
}
